---
Checks: '-*,
readability-*,
portability-*,
performance-*,
modernize-*,
misc-*,
cppcoreguidelines-*,
concurrency-*,
clang-analyzer-*,
cert-*,
bugprone-*,
-cppcoreguidelines-avoid-magic-numbers,
-readability-magic-numbers,
-cppcoreguidelines-pro-type-vararg,
-cppcoreguidelines-pro-type-union-access,
-misc-no-recursion,
-readability-redundant-access-specifiers,
-readability-identifier-length'
CheckOptions:
      - key:     readability-implicit-bool-conversion.AllowIntegerConditions
        value:   true
      - key:     readability-implicit-bool-conversion.AllowPointerConditions
        value:   true
      - key:     misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
        value:   true